{
  "http": {
    "port": "2424",
    "server_key": "/eq2emu/cert/mysql.key",
    "server_cert": "/eq2emu/cert/mysql.crt",
    "server_ca": "/eq2emu/eq2emu/server/webca.pem",
    "auto_restart": "1"
  },
  "mysql": {
    "host": "mysql",
    "user": "eq2dawn",
    "password": "password",
    "database": "eq2dawn_web"
  },
  "worlddb": {
    "host": "mysql",
    "user": "eq2emu",
    "password": "password",
    "database": "eq2emu"
  },
  "polling": {
    "login_admin": "webadmin",
	"login_password": "webpass!",
    "world_admin": "webadmin",
	"world_password": "webpass!"
  }
}