{
  "http": {
    "port": "2424",
	"auto_restart": "1"
  },
  "mysql": {
    "host": "mysql",
    "user": "eq2dawn",
    "password": "password",
    "database": "eq2dawn_web"
  }
  "polling": {
    "login_admin": "webadmin",
	"login_password": "webpass!",
    "world_admin": "webadmin",
	"world_password": "webpass!"
  }
}