<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select EQ2EMu Diagnostics to Download</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="dashboard-container">
    <h2>Select EQ2EMu Diagnostics to Download as ZIP</h2>
	<table>
    <form id="fileForm" name="fileForm" action="/download_diag" method="GET" onsubmit="return encodeFilePaths();">
        <div id="fileList">
            <% allowedFiles.forEach(function(file) { %>
			<tr><td>
                <div>
                    <input type="checkbox" name="files[]" value="<%= encodeURIComponent(file.path) %>" checked>
                    <label for="files[]"><%= file.name %></label>
                </div>
			</td></tr>
            <% }); %>
        </div>
		<tr><td>
        <button class="button" type="submit">Download EQ2EMu Diagnostics ZIP</button><div class="submittedCheck"></div>
		</td></tr>
    </form>
	</table>
</div>

    <script>
        function encodeFilePaths() {
            const inputs = document.querySelectorAll('input[name="files[]"]:checked');
            inputs.forEach(input => {
                input.value = encodeURIComponent(input.value);
            });
            return true;
        }
		
        // Function to handle form submission dynamically
        function submitForm(event) {
            event.preventDefault(); // Prevent default form submission
            
            // Get the form element that triggered the event
            const form = event.target;
            const formData = new URLSearchParams(new FormData(form)).toString();

            // Send the form data using fetch
            fetch('/download_diag', { // Replace with your server endpoint
                method: 'GET',
				headers: {
                    'Content-Type': 'application/x-www-form-urlencoded' // Ensure proper Content-Type
                },
                body: formData
            })
            .then(data => {
                // Handle server response, e.g., updating the page dynamically
                form.querySelector('.submittedCheck').innerHTML = "<span>&#10003;</span>";
            })
            .catch(error => {
                console.error('Error submitting form:', error);
            });
        }

        // Attach event listener to all forms on page load
        document.addEventListener('DOMContentLoaded', function() {
            // Get all forms on the page
            const forms = document.querySelectorAll('form');
            // Attach the submitForm function to each form's submit event
            forms.forEach(form => {
                form.addEventListener('submit', submitForm);
            });
        });
    </script>
</body>
</html>
