<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select EQ2EMu Diagnostics to Download</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Select EQ2EMu Diagnostics to Download as ZIP</h1>
    
	<table>
    <form id="fileForm" action="/download" method="GET" onsubmit="return encodeFilePaths()">
        <div id="fileList">
            <% allowedFiles.forEach(function(file) { %>
			<tr><td>
                <div>
                    <input type="checkbox" name="files[]" value="<%= encodeURIComponent(file.path) %>">
                    <label for="files[]"><%= file.name %></label>
                </div>
			</td></tr>
            <% }); %>
        </div>
        <button type="submit">Download EQ2EMu Diagnostics ZIP</button>
    </form>
	</table>

    <script>
        function encodeFilePaths() {
            const inputs = document.querySelectorAll('input[name="files[]"]:checked');
            inputs.forEach(input => {
                input.value = encodeURIComponent(input.value);
            });
            return true;
        }
    </script>
</body>
</html>
