<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select EQ2EMu Diagnostics to Download</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="dashboard-container">
    <h2>Select EQ2EMu Diagnostics to Download as ZIP</h2>
	<table>
    <form id="fileForm" name="fileForm" action="/download_diag" method="GET" onsubmit="return encodeFilePaths(); closeForm();">
        <div id="fileList">
            <% allowedFiles.forEach(function(file) { %>
			<tr><td>
                <div>
                    <input type="checkbox" name="files[]" value="<%= encodeURIComponent(file.path) %>" checked>
                    <label for="files[]"><%= file.name %></label>
                </div>
			</td></tr>
            <% }); %>
        </div>
		<tr><td>
        <button class="button" type="submit">Download EQ2EMu Diagnostics ZIP</button>
		</td></tr>
    </form>
	</table>
</div>

    <script>
        function encodeFilePaths() {
            const inputs = document.querySelectorAll('input[name="files[]"]:checked');
            inputs.forEach(input => {
                input.value = encodeURIComponent(input.value);
            });
            return true;
        }
		function closeForm(){
			window.close();
		}
    </script>
</body>
</html>
